<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= messages[1].text %></p>
    
    <% for(var i=0; i<messages.length; i++) {%>
    <p style="font-size: 1.25em;">
        <%= messages[i].text%>
    </p>
    <p>
        <b><%= messages[i].user%></b> - <span style="font-size: 0.75em;">
        <%= messages[i].added%></span>
    </p>
<% } %>

      <a href="/new">Add a message?</a>
  </body>
</html>
